<!DOCTYPE html>
<html lang="sr">

<head>
    <title>Greska</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/css/nav.css">
</head>

<body>
    <nav>
        <a href="/">POČETNA</a><a href="/prijava">PRIJAVA</a>
    </nav>

    <h2 style="text-align: center"><%= message %></h2>

</body>

</html>