* {
    font-family: sans-serif;
    color: white;
}

body {
    margin: 0px;
    margin-bottom: 50px;
    background-color: #12232E;
}

nav {
    background-color: rgb(153, 50, 204);
    font-size: 0px; /* to remove spaces */
}

nav a:any-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.nav-submit {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
    background-color: rgb(153, 50, 204);
    border-style: none;
    cursor: pointer;
}

.nav-form {
    display: inline;
}

nav, .nav-submit {
    /* background-color: #007CC7; */
    background-color: #3f6074;
}

nav a:hover, .nav-tmp, .nav-submit:hover {
    background-color: #007bff;
}
